h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul.side-nav.fixed {
  li.logo {
    display: block;
    height: 64px;
    text-align: center;

    font-size: 30px;
    font-weight: 300;
  }
}

header, main, footer {
  padding-left: 240px;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
